.navbar {
  padding: 24px 30px;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  align-items: center;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.logo {
  font-family: Montserrat, sans-serif;
  font-size: 1.875rem;
  color: #0290ff;
  text-decoration: none;
  font-weight: bold;
}

.logo-container {
  display: flex;
}

.links {
  display: flex;
  flex-grow: 1;
  list-style-type: none;
  grid-gap: 40px;
  gap: 40px;

  .nav-link {
    opacity: 1;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-size: 0.85rem;
    letter-spacing: 1.9px;
    font-weight: 300;
    color: #383737;
  }

  .selected-nav-link {
    font-weight: bold;
  }
}

.person {
  cursor: pointer;
  width: 2.813rem;
  height: 2.813rem;
  border-radius: 50%;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  color: #0290ff;
}
